<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="entidades" connectionString="metadata=res://*/Modelo.modelo.csdl|res://*/Modelo.modelo.ssdl|res://*/Modelo.modelo.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;password=root;database=stack_concurso_sesc&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>