<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="entidades" connectionString="metadata=res://*/Modelo.modelo.csdl|res://*/Modelo.modelo.ssdl|res://*/Modelo.modelo.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;database=stack_concurso_sesc&quot;"
      providerName="System.Data.EntityClient" />
    <add name="stack_concurso.forms.Properties.Settings.stack_concursoConnectionString"
      connectionString="server=localhost;User Id=root;password=root;database=stack_concurso_sesc;Persist Security Info=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>